@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

.container{
    display: flex;
    gap: 2rem;
    margin: 5% 2% 5% 2%;
}
.headingmain{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    letter-spacing: 6px;
    word-spacing: 2px;
    color: #95F5F5;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}
.mainwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: .5rem;
    border: 4px solid #19004D;
    border-radius: 5%;
    transition: all 300ms ease;
    gap: 0;
}
.abouthead{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    text-align: center;
    color: #02030A;
    margin: 1rem;
}
.subhead{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #02030A;
}
.aboutbody{
    width: 100%;
    font-family: 'Zilla Slab', serif;
    color: whitesmoke;
    padding-top: 0px;
    font-size: 24px;
    line-height: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.imgcirc{
    margin: 20px;
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}
.cred{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    gap: 1rem;
    margin-bottom: 1rem;
    cursor: default;
    opacity: 0.8;
    transition: all 300ms ease;
}
.cred:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
}
.cred h3{
    font-family: 'Raleway', sans-serif;
    font-size: 64px;
    color: whitesmoke;
    margin: 0;
}
.instsmall{
    width: 5rem;
    transition: all 300ms ease;
}

@media only screen and (max-width: 992px){
    .container{
        display: block;
        margin: 2% 5% 2% 5%;
    }
    .aboutbody{
        text-align: justify;
        padding: 1rem;
    }
    .imgcirc{
        margin: .5rem;
    }
    .mainwrap{
        border-radius: 0;
    }
    .instsmall{
        opacity: 1;
    }
    .cred h3{
        display: none;
    }
}