@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

.container{
    display: flex;
    gap: 2rem;
    margin: 1rem;
}
.headingmain{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    letter-spacing: 6px;
    word-spacing: 2px;
    color: #95F5F5;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}
.mainwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: .5rem;
    background: #19004D;
    background: -moz-linear-gradient(45deg,  #CC0066 0%, #7F0099 57%,  #19004D 100%);
    background: -webkit-linear-gradient(45deg,  #CC0066 0%, #7F0099 57%,  #19004D 100%);
    background: linear-gradient(45deg,  #CC0066 0%, #7F0099 57%,  #19004D 100%);
    border: 4px solid #19004D;
    border-radius: 5%;
    transition: all 300ms ease;
}
.abouthead{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    text-align: center;
    color: #02030A;
    margin: 1rem;
}
.subhead{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #02030A;
}
.aboutbody{
    font-family: 'Zilla Slab', serif;
    color: whitesmoke;
    padding-top: 0px;
    font-size: 24px;
    line-height: 30px;
    margin: 1rem;
}
.imgcirc{
    margin: 20px;
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}
@media only screen and (max-width: 992px){
    .container{
        display: block;
        margin: 2% 5% 2% 5%;
    }
    .aboutbody{
        text-align: justify;
    }
    .imgcirc{
        margin: .5rem;
    }
}