@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    
}
.span-2{
    grid-column: span 2;
}
.heading1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    letter-spacing: 6px;
    word-spacing: 2px;
    color: #95F5F5;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    margin-top: .3em;
}
.headingtop{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    letter-spacing: 6px;
    word-spacing: 2px;
    color: #95F5F5;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    margin-top: .3em;
    margin-bottom: 10px;
    margin-left: 21.600px;
}
.wedop{
    display: block;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    text-align: justify;
    margin: .9em;
    margin-top: 0;
    font-size: 24px;
    line-height: 45px;
}
.newp{
    display: block;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    text-align: center;
    margin: .9em;
    font-size: 24px;
}
.picturelist{
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
    padding-left: 2px;
}
.picturedo{
    height: 472px;
    width: 472px;
    margin-left: 21.600px;
}
.icons{
    width: 256px;
    height: 256px;
    max-width: 312px;
    max-height: 312px;
    opacity: 0.8;
    transition: 300ms;
}
.nav-links {
    justify-content: center;
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-top: 5rem;
}
.icons:hover{
    width: 300px;
    height: 300px;
    opacity: 1;
    cursor: pointer;
}
.nftcaption{
    font-family: 'Share Tech Mono', monospace;
    color: whitesmoke;
    font-size: 22px;
    letter-spacing: 2.5px;
}