.container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}
.span-2{
    grid-column: span 2;
}
.heading1{
    text-align: center;
    font-family: Georgia, serif;
    font-size: 48px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #00D5FF;
    font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    margin-top: .3em;
}
.body1{
    display: block;
    color: whitesmoke;
    text-align: center;
    margin: .7em;
    font-size: 24px;
}
.picturelist{
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
    padding-left: 2px;
}
.picturedo{
    height: auto;
    width: auto;
    padding: 60p 120px;
}
.icons{
    width: 256px;
    height: 256px;
    max-width: 312px;
    max-height: 312px;
    opacity: 0.8;
    transition: 250ms;
}
.nav-links {
    justify-content: center;
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-top: 5rem;
}
.icons:hover{
    width: 300px;
    height: 300px;
    opacity: 1;
    cursor: pointer;
}
